@namespace ht url(https://purl.org/extensible_hypertext/text);
@namespace hs url(https://purl.org/extensible_hypertext/structure);
@namespace hm url(https://purl.org/extensible_hypertext/meta);
@namespace hl url(https://purl.org/extensible_hypertext/linking);

* {
  font-family: sans-serif;
  display: block;
}

hm|tag {
  display: inline;
}

hm|meta hm|tag {
  display: block;
}

hm|tag[property="dc:title"] {
  font-weight: bold;
}

hm|meta {
  margin-bottom: 1em;
}

hs|document {
  margin: 0.5em 1em auto 1em;
}

hs|section {
  margin: 1em auto auto 1em;
}

ht|para {
  margin-bottom: 0.5em;
}

hl|link {
  display: inline;
  color: blue;
  text-decoration: underline;
}