@namespace hm url(http://purl.org/extensible_hypertext/meta);
@namespace hs url(http://purl.org/extensible_hypertext/structure);

hm|tag {
  display: inline;
}

hs|section hm|tag, hs|document hm|tag {
  display: block;
}

hs|section hm|tag:last-of-type, hs|document hm|tag:last-of-type {
  margin-bottom: 1.0em;
}

hm|tag[property="http://purl.org/dc/terms/title"] {
  font-weight: bold;
}
