@namespace hs url(http://purl.org/extensible_hypertext/structure);

hs|document {
  display: block;
  font-family: sans-serif;
  margin: 0.5em 1em auto 1em;
}

hs|section {
  display: block;
  font-family: sans-serif;
  margin: 1em auto auto 1em;
}
